* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	font-family: Open Sans;
	text-align: center;
	vertical-align: middle;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}

body {
	background-color: #ccc;
}

.nav-bar {
	width: 100vw;
	height: 8vh;
	background-color: tan;
}

.shade {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
}

.full-width {
	width: 100vw;
	height: 50vh;
	background: url(..//img/cook-back-three.jpeg) no-repeat;
	background-size: cover;
}

.half-width {
	width: 49.7vw;
	height: 50vh;
	display: inline-block;
	margin: 0;
	border: 3px solid white;
	padding: 0;

}

.div-left {
	background: url(..//img/cook-back-two.jpg) no-repeat;
	background-size: cover;	
}

.half-height {
	width: 100%;
	height: 50%;
	border: 2px solid white;
}

.div-top {
	background: url(..//img/cook-back.png) no-repeat;
	background-size: cover;
}

.div-top-two {
	background: url(..//img/cook-back-five.jpeg) no-repeat;
	background-size: cover;	
}

.div-bottom {
	background: url(..//img/cook-back-four.jpg) no-repeat;
	height: 100%;
	width: 100%;
	background-size: cover;
}

.half-perc {
	width: 49.6%;
	height: 100%;
	display: inline-block
}

.head-header {
	font-style: italic;
	font-size: 45px;
	padding-top: 10%;
}

.head-sub-header {
	font-weight: lighter;
}

.learn-head {
	padding-top: 22%;
}

.eat-head {
	padding-top: 10%;
}

.love-head {
	padding-top: 22%;
}

.nav-li {
	display: inline-block;
	font-size: 20px;
	margin: 0 3% 0 3%;
	padding-top: 1%;
}


.date-hidden {
	display: none;
	padding-top: 20%;
}

.date-ul {
	float: left;
	width: 45%;
}

.contact-hidden {
	display: none;
	padding-top: 20%;
}

.contact-head {
	font-size: 13px;
	font-weight: lighter;
}